.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  @media screen and (max-width: 495px) {
    font-size: 0.8rem;
  }
}
.hero__wrapper {
  display: flex;
  margin-top: 5em;
  justify-content: space-between;
  @media screen and (max-width: 630px) {
    flex-direction: column-reverse;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 630px) {
      width: 100%;
      align-items: center;
    }
  }
  .hero__form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      width: 100%;
    }
  }
  #email {
    width: 65%;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }
  #button {
    width: 30%;
    background-color: hsl(224, 93%, 58%);
    border: none;
    border-radius: 5px;
    color: azure;
    @media screen and (max-width: 992px) {
      width: 100%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
  .hero__img {
    width: 40%;
    object-fit: contain;
    @media screen and (max-width: 630px) {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

h1 {
  font-size: 2.5em;
  @media screen and (max-width: 630px) {
    text-align: center;
  }
}

.hero p {
  margin-top: 1em;
  margin-bottom: 1em;
  @media screen and (max-width: 630px) {
    text-align: center;
  }
}
