.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
    @media screen and (max-width: 762px) {
      width: 50%;
    }
    @media screen and (max-width: 452px) {
      width: 65%;
    }
    @media screen and (max-width: 347px) {
      width: 75%;
    }
  }
  li {
    list-style: none;
    margin-left: 1em;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  img {
    @media screen and (max-width: 762px) {
      width: 6rem;
    }
    @media screen and (max-width: 347px) {
      width: 5rem;
    }
  }
}
