.productive__wrapper {
  margin-top: 10rem;
  display: flex;
  @media screen and (max-width: 630px) {
    flex-direction: column-reverse;
  }
  h2 {
    font-size: 2.5em;
    @media screen and (max-width: 630px) {
      text-align: center;
    }
  }
  img {
    width: 40%;
    object-fit: contain;
    @media screen and (max-width: 630px) {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
  }
  p {
    width: 60%;
    @media screen and (max-width: 630px) {
      text-align: center;
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    &:after {
      content: url(/images/icon/icon-arrow.svg);
      position: relative;
      top: 3px;
      left: 10px;
    }
  }
}

.productive__content__atag__border__bottom {
  width: 21%;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
}

.productive__card {
  background-color: aquamarine;
  border-radius: 5px;
  width: 60%;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (max-width: 1115px) {
    width: 80%;
  }
  @media screen and (max-width: 630px) {
    width: 95%;
  }
  .productive__card__para {
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
  }
}

.productive__card__person {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  img {
    width: 12%;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .productive__card__person__para {
    display: flex;
    flex-direction: column;
    width: 100%;
    .productive__card__person__name__p {
      font-size: 1em;
    }
    .productive__card__person__founder__p {
      font-size: 0.8em;
    }
  }
}

.mb-1 {
  margin-bottom: 1rem;
}
