/* PRIMARY BG-COLOR */
.bg-very-dark-blue {
  background-color: hsl(243, 87%, 12%);
}
.bg-desaturated-blue {
  background-color: hsl(238, 22%, 44%);
}

/* Accent BG-COLOR */
.bg-bright-blue {
  background-color: hsl(224, 93%, 58%);
}
.bg-moderate-cyan {
  background-color: hsl(170, 45%, 43%);
}

/* NEUTRAL BG-COLOR  */

.bg-light-grayish-blue {
  background-color: hsl(240, 75%, 98%);
}

.bg-light-gray {
  background-color: hsl(0, 0%, 75%);
}
